header{
    width: 100%;
    height: 50px;
    /*background-color: #000000;*/
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,69,0,1) 58%);
}

hr{
    color: #f64d27;

}
main{
    margin-top: 10px;
}

header #logo{
    text-align: center;
    padding-top: 10px;
}
/*pai*/
#menu-lateral{
  
    width: 159px;
    float: left;
    
}

/*filho
nav{
    background-color: chocolate;
}


nav ul{
    background-color: beige;
}

bisneto*/
nav ul li{
  
    text-transform: uppercase;
    list-style-type:none;
    padding-left: 10px;

}
/*tataraneto*/
nav ul li a{
   
    text-decoration: none;
    color: #000000;

}nav ul li a:hover{
   
    text-decoration: none;
    color: #f64d27;
    font-weight: bold;
}

#menu-lateral nav ul li{
    padding-top: 4px;
    font-size: 9px;
}
#comandos{

    background-color: aquamarine;

}footer
    #rodape{
        margin-top: 10px;
        text-align: center;
        background: darkkhaki;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,69,0,1) 58%);
        color: aliceblue;
        font-size: 12px;
        height: 25px;
}
#area-principal{
        width: 1750px;   
        height: 650px;
        margin-left: 150px;

}   
.postit-laranja{
    border: 2px solid orange;

}
#draggable {
    width: 75px;
    height: 75px;    
    color: black;
    border: 2px solid rgb(17, 17, 17);
}
.paragrafo-um{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: green;
}
.paragrafo-dois{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #f64d27;
}
.paragrafo-tres{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}
.paragrafo-quatro{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}