header{
    width: 100%;
    height: 50px;
    background-color: #000000;
}
header #logo{
    text-align: center;
    padding-top: 10px;
}
/*pai*/
#menu-lateral{
    background-color: aqua;
    width: 159px;
    
}

/*filho
nav{
    background-color: chocolate;
}


nav ul{
    background-color: beige;
}

bisneto*/

nav ul li{
  
    text-transform: uppercase;

}

/*tataraneto*/

nav ul li a{
   
    text-decoration: none;

}

#menu-lateral nav ul li{
    padding-top: 9px;
    list-style: none;
    font-size: 12px;
}
#comandos
    {background-color: aquamarine;


    }footer #rodape{
        background-color: #000000;
        color: aliceblue;
        text-align: center;
}